.ProjectCardContainer:global(.MuiStack-root) {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2%;
  min-height: 200px;

  border: 1px solid var(--mui-palette-text-primary);
}

.ImageContainer:global(.MuiStack-root) {
  position: relative;
  min-height: 200px;
}

.StackChip:global(.MuiChip-root) {
  border: 2px solid var(--mui-palette-info-main);
}

.ProjectCardContainer a {
  display: flex;
  align-items: center;
}

.ProjectCardContainer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .ProjectCardContainer:global(.MuiStack-root) {
    grid-template-columns: 1fr;
    padding: 4%;
  }
}